/*  your css code here. If applicable */
 body {
            margin: 0;
        }

        .star {
            width: 150px;
            height: 150px;
            background: yellow;

            clip-path: polygon(
                50% 0%,
                63% 28%,
                100% 28%,
                70% 50%,
                82% 100%,
                50% 72%,
                18% 100%,
                30% 50%,
                0% 28%,
                37% 28%
            );
        }