/*  your css code here. If applicable */
 body {
	        background-color: white;
            margin: 0;
        }

        .star {
            width: 150px;
            height: 150px;
            background: yellow;

            clip-path: polygon(
        50% 0%,
        65% 29%,
        100% 29%,
        71% 50%,
        100% 100%,
        50% 71%,
        0% 100%,
        29% 50%,
        0% 29%,
        35% 29%
    );
        }